<div class="w-full h-16 p-4 flex justify-between items-center bg-slate-100">
  <i class="fa-solid fa-film text-2xl"></i>
  <div class="flex items-center justify-center gap-4">
    <%= link_to "My lists", lists_path, class: "border-2 border-black rounded-md px-2 py-1 hover:bg-black hover:text-white transition-all duration-300" %>
    <%= link_to "Add a list", new_list_path, class: "border-2 text-blue-500 border-blue-500 rounded-md px-2 py-1 hover:bg-blue-500 hover:text-white transition-all duration-300" %>
  </div>
</div>
