<div class="w-full h-96 flex items-center justify-center bg-center" style="background-image: url(<% if local_assigns[:hero_image].is_a?(String) %>
  <%= local_assigns[:hero_image] %>
<% else %>
  <%= cl_image_path local_assigns[:hero_image], height: 96, width: 96, crop: :fill %>
<% end %>)">
  <h1 class="text-3xl font-bold text-white"><%= local_assigns[:title] %></h1>
</div>
